		.main{
			top: 0px;
			left: 0px;
			width: 1366px;
			height: 820px;
			background: #3d087b 0% 0% no-repeat padding-box;
			background: #3D087B 0% 0% no-repeat padding-box;
			opacity: 1;
			position: relative;
		}
		.logo{
			top: 34px;
			left: 124px;
			width: 204px;
			height: 77px;
			background-image: transparent url("./clock_logo.png") 0% 0% no-repeat padding-box;
			opacity: 1;
			
			position: absolute;
		}
		
		.right{
			top: 42px;
			left: 706px;
			width: 536px;
			height: 130px;
			background: #ffffff 0% 0% no-repeat padding-box;
			border: 1px solid #ededed;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			border: 1px solid #EDEDED;
			border-radius: 10px;
			opacity: 1;
			position: absolute;
			z-index: 1;
			


		}
		.right22{
			top: 55px;
			left: 766px;
			width: 416px;
			height: 130px;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			border-radius: 10px;
			opacity: 0.71;
			position: absolute;
			
		}
		.right23{
			position: absolute;
			top: 67px;
			left: 785px;
			width: 379px;
			height: 130px;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			border-radius: 10px;
			opacity: 0.22;
			

		}
		.showTime{
			top: 94px;
			left: 745px;
			width: 46px;
			height: 26px;
			text-align: left;
			font: normal normal 600 20px/32px Manrope;
			letter-spacing: 0px;
			color: #3D087B;
			text-transform: uppercase;
			opacity: 1;
			margin-left: 10px;
			padding-top: 10px;
			margin-right: 20px;

		}
		.mid{
			top: 62px;
			left: 745px;
			width: 458px;
			height: 90px;
			opacity: 1;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;

		}
		.mid p{
			top: 94px;
			left: 745px;
			width: 46px;
			height: 26px;
			color: #3d087b;
			text-align: left;

			font: normal normal 600 20px/32px 
		}
		.first{
			top: 62px;
			left: 823px;
			width: 80px;
			height: 90px;
			background-image: transparent url("./timeline.png") 0% 0% no-repeat padding-box;
			opacity: 1;
			margin-top: 10px;

		}
		.first p{
			top: 67px;
			left: 847px;
			width: 33px;
			height: 43px;
			font-size:36px;
			font-weight:normal;
			
			font-family:barlow;
			
			letter-spacing: 0;
			color:#8a11bf;
			text-align: left;
			font: normal normal normal 36px/43px Barlow;
			letter-spacing: 0px;
			color: #8A11BF;
			opacity: 1;

		}
		.second{
			top: 62px;
			left: 823px;
			width: 80px;
			height: 90px;
			background-image: transparent url("./timeline.png") 0% 0% no-repeat padding-box;
			opacity: 1;
			margin: 10px;

		}
		.third{
			top: 62px;
			left: 823px;
			width: 80px;
			height: 90px;
			background-image: transparent url("./timeline.png") 0% 0% no-repeat padding-box;
			opacity: 1;
			margin-right: 20px;
			margin-top: 10px;
		}
		.fourth{
			top: 62px;
			left: 1121px;
			width: 82px;
			height: 90px;
			background-image: transparent url("./AM_svg.png") 0% 0% no-repeat padding-box;
			opacity: 1;
			margin: 10px;
			margin-left: 10px;

		}
		.left2{
			top: 149px;
			left: 124px;
			width: 566px;
			height: 363px;
			background: #ffffff 0% 0% no-repeat padding-box;
			border: 1px solid #EDEDED;
			border-radius: 10px;
			opacity: 1;
			position: absolute;

		}
		.subleft2{
			top: 163px;
			left: 149px;
			width: 517px;
			height: 335px;
			opacity: 1;
		
			margin-top: 10px;
			margin-left: 20px;
			display: flex;

			flex-direction: column;
			flex-wrap: wrap;
			align-content: center;
		}
		.sub1{
			top: 163px;
			left: 149px;
			width: 517px;
			height: 45px;
			opacity: 1;
			margin-top: 20px;
		}
		.sub1left_first{
			top: 169px;
			left: 149px;
			width: 34px;
			height: 34px;
			background-image: transparent url("./wake_up.svg") 0% 0% no-repeat padding-box;
			opacity: 1;
			float: left;
			margin-top: 5px;
			margin-left: 20px;
		}
		.sub1left_mid{
			top: 174px;
			left: 204px;
			width: 150px;
			height: 23px;
			text-align: center;
			font: normal normal normal 18px/28px Manrope;
			letter-spacing: 0px;
			color: #3D087B;
			opacity: 1;
			border: 1px solid none;
			float: left;
			margin-top: 7px;
			margin-left: 20px;
			margin-right: 5px;
		}
		.sub1left_last .time{
			top: 163px;
			left: 385px;
			width: 281px;
			height: 45px;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			border: 1px solid #EDEDED;
			border-radius: 4px;
			opacity: 1;
		}
		 .sub2{
			top: 260px;
			left: 149px;
			width: 517px;
			height: 45px;
			opacity: 1;
			
			margin-top: 40px;

		} 
		.sub2left_first{
			top: 169px;
			left: 149px;
			width: 34px;
			height: 34px;
			background-image: transparent url("./lunch_time.svg") 0% 0% no-repeat padding-box;
			opacity: 1;
			float: left;
			margin-top: 5px;
			margin-left: 20px;
		}
		.sub2left_mid{
			top: 174px;
			left: 204px;
			width: 150px;
			height: 23px;
			text-align: center;
			font: normal normal normal 18px/28px Manrope;
			letter-spacing: 0px;
			color: #3D087B;
			opacity: 1;
			border: 1px solid none;
			float: left;
			margin-top: 7px;
			margin-left: 20px;
			margin-right: 5px;
		}
		.sub2left_last .time{
			top: 163px;
			left: 385px;
			width: 281px;
			height: 45px;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			border: 1px solid #EDEDED;
			border-radius: 4px;
			opacity: 1;
		}
		
		.sub3{
			top: 163px;
			left: 149px;
			width: 517px;
			height: 45px;
			opacity: 1;
			
			margin-top: 40px;
		}
		.sub3left_first{
			top: 169px;
			left: 149px;
			width: 34px;
			height: 34px;
			background-image: transparent url("./nap_time.svg") 0% 0% no-repeat padding-box;
			opacity: 1;
			float: left;
			margin-top: 5px;
			margin-left: 20px;
		}
		.sub3left_mid{
			top: 174px;
			left: 204px;
			width: 150px;
			height: 23px;
			text-align: center;
			font: normal normal normal 18px/28px Manrope;
			letter-spacing: 0px;
			color: #3D087B;
			opacity: 1;
			border: 1px solid none;
			float: left;
			margin-top: 7px;
			margin-left: 20px;
			margin-right: 5px;
		}
		.sub3left_last .time{
			top: 163px;
			left: 385px;
			width: 281px;
			height: 45px;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			border: 1px solid #EDEDED;
			border-radius: 4px;
			opacity: 1;
		}
		.sub4{
			top: 163px;
			left: 149px;
			width: 517px;
			height: 45px;
			opacity: 1;
			
			margin-top: 40px;
		}
			.sub4left_first{
			top: 169px;
			left: 149px;
			width: 34px;
			height: 34px;
			background-image: transparent url("./night.png") 0% 0% no-repeat padding-box;
			opacity: 1;
			float: left;
			margin-top: 5px;
			margin-left: 10px;
		}
		.sub4left_mid{
			top: 174px;
			left: 204px;
			width: 150px;
			height: 23px;
			text-align: center;
			font: normal normal normal 18px/28px Manrope;
			letter-spacing: 0px;
			color: #3D087B;
			opacity: 1;
			border: 1px solid none;
			float: left;
			margin-top: 7px;
			margin-left: 20px;
			margin-right: 5px;
		}
		.sub4left_last .time{
			top: 163px;
			left: 385px;
			width: 281px;
			height: 45px;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			border: 1px solid #EDEDED;
			border-radius: 4px;
			opacity: 1;
		}
		.rigth2{

			top: 215px;
			left: 706px;
			width: 536px;
			height: 118px;
			background: #ffffff 0% 0% no-repeat padding-box;
			border: 1px solid #ededed;
			
			color: #8E53F0;
			border-radius: 10px;
			opacity: 1;
			position: absolute;
		}
		.rigth2 p{
			
			font-weight:900;
			font-family:bauhaus-hv-bt;
			font-size:25px;
			color: #8e53f0;
			text-align: center;
			padding-top: 10px;
			letter-spacing: 0px;
			color: #8E53F0;
			text-transform: uppercase;
			opacity: 1;
		}
		.lefting3{
			top: 527px;
			left: 124px;
			width: 566px;
			height: 77px;
			 background:#6A419A 0% 0% no-repeat padding-box; 
			border: 1px solid none;
			border-radius: 10px;
			opacity: 1;
			position: absolute;
			color: white;
			text-align: center;
			font-size: 30px;
			font: normal normal 900 27px/34px Bauhaus Hv BT;


		}
		
		.left4{
			top: 624px;
			left: 124px;
			width: 299px;
			/* height: 50px; */
			background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
			border-radius: 4px;
			opacity: 1;
			position: absolute;
			color: white;
			font-size: 20px;
			text-align: center;
			padding-top: 10px;
			box-sizing: border-box;
		}
		/* .left4 >.ft4{
			text-align: center;
			font: normal normal 600 24px/38px Manrope;
			letter-spacing: 0px;
			color: #FFFFFF;
			opacity: 1;
			text-align: center;
			padding-top: 0;
		} */
		.side{
			top: 615px;
			left: 437px;
			width: 253px;
			height: 117px;
			border: 1px solid #ededed;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			border: 1px solid #EDEDED;
			border-radius: 10px;
			opacity: 0.23;
			position: absolute;
			color: #B85EBF;
			text-align: center;
			

		}
		 .sidefont{
		 	opacity: 1;
		 	text-align: center;
			font: normal normal bold 15px/25px Manrope;
			letter-spacing: 0px;
			color: #F25CFE;
			opacity: 1;
		 }
		.right3{
			top: 345px;
			left: 707px;
			width: 536px;
			height: 341px;
			background-image: transparent url("./Component 30 – 1.svg") 0% 0% no-repeat padding-box;
			opacity: 1;
			position: absolute;

		}
		/* .speech2{
			top: 686px;
			left: 56px;
			width: 243px;
			height: 64px;
			background: #FFFFFF 0% 0% no-repeat padding-box;
			box-shadow: 0px 0px 30px #00000029;
			opacity: 1;
			position: absolute;
			border-radius: 15px;
		}
 */
		 .first>.f1{
			top: 67px;
			left: 850px;
			width: 33px;
			height: 20px;
			text-align: center;
			font: normal normal normal 30px/15px Barlow;
			line-height: 15px;
			letter-spacing: 0px;
			color: #8A11BF;
			opacity: 1;
			padding-left: 7px;
		}
		 .second>.f2{
			top: 67px;
			left: 850px;
			width: 33px;
			height: 20px;
			text-align: center;
			font: normal normal normal 30px/15px Barlow;
			line-height: 15px;
			letter-spacing: 0px;
			color: #8A11BF;
			opacity: 1;
			padding-left: 7px;
		}
		 .third>.f3{
			top: 67px;
			left: 850px;
			width: 33px;
			height: 20px;
			text-align: center;
			font: normal normal normal 30px/15px Barlow;
			line-height: 15px;
			letter-spacing: 0px;
			color: #8A11BF;
			opacity: 1;
			padding-left: 7px;
		}
		 .fourth>.f4{
			top: 86px;
			left: 1138px;
			width: 48px;
			height: 40px;
			text-align: left;
			font: normal normal normal 36px/35px Barlow;
			letter-spacing: 0px;
			color: #FFFFFF;
			opacity: 1;
			padding-left: 7px;
		}
